// Color Variables
$background-color: #14161f;
$text-color: #494b50;
$accent-color: #fff;
$yellow: #d8b96f;

// Media query sizes
$mediaMaxWidth: 1260px;
$bp-tablet: 768px;

//Radius
$radius: 0.5rem;
