@import "../../styles/variables";

header {
  padding: 1rem 0;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: $accent-color;
  font-size: 4rem;
}

@media (max-width: $bp-tablet) {
  .title {
    font-size: 2rem;
  }
}
